.card-prim{
   margin:1rem;
}
    
    .card_item{
        background: #D9D9D9;
        padding: 1.3rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: all 400s ease;
    }
    
    .card_item:hover{
    border-color: #acdd9f;
    background: transparent;
    }
    
    .card_item-image{
        border-radius: 1.5rem;
        overflow: hidden;
    }
    .card_item h3{
        margin: 1.2rem 0 2rem;
    }
    
    .card_item-cta{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .btn-2{
        justify-content: center;
        margin: 5rem;
    }
    
    @media screen and (max-width:1024px){
       .card_container{
           grid-template-columns: repeat(2, 1fr);
           gap: 1.2rem;
       }
        
    }
    
    
    
    @media screen and (max-width: 600px) {
      .card_container{
          grid-template-columns: 1fr;
          gap: 1rem;
      }
        
    }